@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "LovelyHome";
  src: url("/LovelyHome.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Typography */
  --font_Charm: "Charm", cursive;
  --font_LH: "LovelyHome";
  --font_Pop: "Poppins", sans-serif;

  --h1_size: clamp(1rem, 6vw, 8rem);
  --h2_size: clamp(1rem, 3vw, 2.4rem);
  --h3_size: clamp(1rem, 4vw, 2rem);
  --p_size: clamp(0.4rem, 3vw, 1rem);
  --menu_size: clamp(0.4rem, 2.5vw, 1.4rem);

  --h1_color: var(--Secondary_Sand);
  --h2_color: var(--Secondary_Sand);
  --h3_color: var(--Secondary_Sand);

  --h2_colorB: var(--Primary_Blue);
  --h3_colorB: var(--Primary_Blue);

  --p_color1: var(--Black);
  --p_color2: var(--Secondary_Sand);
  --menu_color: var(--Secondary_Sand);

  --p_ch: 65ch;

  /* Farver */
  --Primary_Blue: #4662bf;
  --Secondary_Sand: #ffe9b8;
  --Secondary_White: #f5efea;
  --Tertiary_Red: #e4b99f;
  --Black: #424245;

  /* afstande */
  --gap4: 4rem;
  --gap2: 2rem;
  --gap1: 1rem;
  --gap05: 0.5rem;

  /* Hover */
  --menu_hover: var(--Primary_Blue);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--font_LH);
  font-size: var(--h1_size);
  color: var(--h1_color);
}
h2 {
  font-family: var(--font_Charm);
  font-size: var(--h2_size);
  color: var(--h2_color);
}
.h2B {
  color: var(--h2_colorB);
}
h3 {
  font-family: var(--font_Charm);
  font-size: var(--h3_size);
  color: var(--h3_color);
}
.h3B {
  color: var(--h2_colorB);
}
p {
  font-family: var(--font_Pop);
  font-size: var(--p_size);
  color: var(--p_color);
}
.phvid {
  font-family: var(--font_Pop);
  font-size: var(--p_size);
  color: var(--p_color2);
}
li:hover {
  text-decoration: underline 2px var(--Secondary_Sand);
}
