---
import "../styles/global.css";
import Card_Colsingle from "../components/Card_Colsingle.astro";

const singleViewAbout = await fetch(
  "https://inrchbadbkirfzkcebcg.supabase.co/rest/v1/singleViewAbout?select=*",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlucmNoYmFkYmtpcmZ6a2NlYmNnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjU5NzA4MjYsImV4cCI6MjA0MTU0NjgyNn0.mpSt_VfMJynts4yNhF_lHvJafqeHolxXL7wYKBacfjA",
    },
  }
).then((ress) => ress.json());
console.log(singleViewAbout);
---

<section id="svcollage">
  {
    singleViewAbout.map((svcol) => {
      return <Card_Colsingle svcoldata={svcol} />;
    })
  }
  <div id="svfinal"><img src="/img/singleview/svfinal_1x.webp" alt="" /></div>
</section>

<!-- Overskrift : Parallax -->
<!-- Tilføj scripttag her -->
<!-- Tilføj Scroll som container til alt (hint det er med (); ;D )  -->
<!-- Difiner at der skal animeres! (hint husk ("vælg inner container altså .cardsv", {} )) -->
<!-- inde i {} tilføj transform["input værdi"] og ["out værdi"] -->

<style>
  #svcollage {
    width: 100dvw;
    height: fit-content;
    display: flex;
    flex-direction: row;

    overflow-x: scroll;
  }
  #svfinal {
    width: 450px;
    height: 450px;
    flex-wrap: nowrap;
    flex: none;
  }
  #svfinal img {
    width: 100%;
  }
</style>
